.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
android/.gradle/
android/local.properties
android/key.properties
*.keystore
*.jks
.env
.env.*
!.env.example
lib/l10n/app_localizations*.dart
.idea/
*.iml
